

/* Base Styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Layout */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #7F7E7E;
  /*background: #464646;*/
  background: #c1ad8a;
}


img {
width: 100%;
}

/*img.header {
  border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #2f403a;
}*/



/* Link Styles */


a.twitter {
  background-image: url(../images/twitter-logo.png);
}
a.treehouse {
  background-image: url(../images/treehouse-logo.png);
}
a.github {
  background-image: url(../images/github-logo.png);
}
a.social {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  opacity: .75;
  text-indent: -9999px;
}
a.social-small {
    display: inline-block;
    height: 36px;
    width: 36px;
    background-size: 36px 36px;
    opacity: .5;
    text-indent: -9999px;
}

a.social:hover, a.social-small:hover  {
  opacity: 1;
}

/* Section Styles */


.social_media {
display: block;
text-align: center;
position: relative;
bottom: 30px;
margin-right: 10px;
}




.clearfix {
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: auto;
  padding: 0;
}



/* @media queries */
@media screen and (min-width: 720px) {
  .container div:nth-of-type(1n+2){
    margin-left: 20px;
    }
    .container{
      display: flex;

    }
    .social_media {
    float: right;
  }

footer {
  text-align: center;
}


}
