/* Base Styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Layout */
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0 0 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #6a7076;
}

img {
width: 100%;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  line-height: 1.5;
}

p {
  font-size: 1em;
  padding-bottom: 5px;
  line-height: 1.25em;
}

p span, h1 span, li span{
  color: #fff;
  background-color: #BB5100;
  padding: 2px;
  border-radius: 5px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  text-align: center;
}

ul li.social {
  display: inline-block;
}

ul.text {
  text-align: left;
  list-style-type: square;
  margin-left: 10px;
}


footer {
    position: absolute;
    margin-top: 10px;
    padding: 5px 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.clearfix {
  clear: both;
}

.github {
  margin-right: 15px;
}

/* Link Styles */
a {
  text-decoration: none;
}

/* Flexbox */
.grid {
  margin: 15px;
}

.grid__row {
  display: flex;
  flex-direction: column;
}

.grid__item_1, .grid__item_2 {
  padding: 12px;
  margin: 0px 10px 10px 0px;
  background: #fff;
  border-radius: 15px;
}

.grid__item_2 {
  flex-grow: 2;
}

/* pug photos */

#photos {
  vertical-align: middle;
}

#photos .image {
  display: block;
  /*width: auto;*/
  text-align: center;
}

button {
color: #fff;
background-color: #BB5100;
padding: 8px 25px;
border-radius: 5px;
}




/* Media Queries */

@media all and (min-width: 769px) {
  .grid__row {
    flex-direction: row;
    align-items: flex-start;
  }
  .social_media {
    float: right;
  }
  .grid__item_1 {
    width: 45%;
  }

}

@media all and (max-width: 768px){

}
