/* Global Layout */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #7F7E7E;
  /*background: #464646;*/
  background: #c1ad8a;
}


img {
width: 100%;
}

img.header {
  border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #2f403a;
}



/* Link Styles */
a.social {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  opacity: .75;
  text-indent: -9999px;
}

a.twitter {
  background-image: url(../images/twitter-logo.png);
}
a.treehouse {
  background-image: url(../images/treehouse-logo.png);
}
a.github {
  background-image: url(../images/github-logo.png);
}
a.social:hover {
  opacity: 1;
}
a.social-small:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Section Styles */

.container div:nth-last-of-type(1n+2) {
  margin-left: 20px;
}

.social_media {
display: block;
float: right;
position: relative;
bottom: 30px;
margin-right: 10px;
padding: 0;

}
.col_1 {
  flex-direction: column;
  flex: 1 1;
  width: 200px;
  margin: 30px;
  padding: 20px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.col_2 {
  flex-direction: column;
  flex: 1 1;
  margin: 30px;
  text-align: justify;
  /*background: #fff;*/
  /*border-bottom: 4px solid #ccc
  /*border-radius: 6px;*/
}


.item {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
}

.clearfix {
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


ul li {
  display: inline-block;
  margin: auto;
  padding: 0;
}

a.social-small {
    display: inline-block;
    height: 36px;
    width: 36px;
    background-size: 36px 36px;
    opacity: .5;
    text-indent: -9999px;
}


/* @media queries */
@media screen and (min-width: 720px) {

  .container {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      flex-flow: wrap;
      flex-grow: 2;
      align-items: flex-start;
      align-content: stretch;
      }
  }
